@import "variables";

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    font-family: $font-general;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: $blanco;

    &:hover{
        color: $blanco;
    }
}