// Colors
$morado-oscuro: #0B0742;
$morado: hsl(244, 80%, 24%);
$azul: #5E72EB;
$melon: #FF9190;
$piel: #FDC094;

$oscuro: #101010;
$negro: #000;
$blanco: #fff;

// Fonts
$font-general: 'Barlow Condensed', sans-serif;
$font-titulo: 'Bebas Neue', cursive;

// transicion
$transition: all ease .5s